/* 这是一个多行注释 */
// 这是一个单行注释
/*! 这是一个强制注释 */

$color: #f00;
$w: 300px;
#div1{
    background: $color;
    color: $color;
    .aa{
        width: $w;
        .bb{
            height: $w;
        }
        &:hover{
            background: #00ff00;
        }
        &-test{
            width: 200px;
            &-test2{
                height: 200px;
            }
        }
    }
    .cc{
        width: 200px;
    }
}
/*! div2强制注释 */
#div2{
    background: {
        color: $color;
        image: url(xx.jpg)
    }
    border: {
        bottom: {
            color: $color;
            width: 1px;
            style: solid;
        }
    }
}

$width: 200px;
$wd: width;
#div3{
    #{$wd}: $width;
}


@mixin xx($w:200px, $h:200px){
    width: $w;
    height: $h;
    background: #ff0000;
}
#div4{
    @include xx($h:300px, $w:200px);
    font-size: 14px;
}
#div5{
    @include xx();
    .aa{
        width: 200px;
    }
}
#div6{
    @extend #div5;
    font-size: 14px;
}
#div7{
    width: 200px;
}

@import 'base/base';

$img: 'xx.jpg';
#div8{
    // width: abs(-200px / 100);
    width: percentage(30/100);
    background-image: url('img/' + $img);
}

#div9{
    color: transparentize(rgba(255, 0, 0, .5), .2);
}

$m: (light: #fff, dark: #000);
#div10{
    color: map-get($m, dark);
}

$hw: 'hello world';
/* $hw变量表示#{$hw} */

$div: 'aa';
##{$div}-#{$div}{
    width: 200px;
}


@function foo($bg){
    @if($bg == 1){
        @return #f00;
    }@else if($bg == 2){
        @return #0f0
    } @else {
        @return #ccc;
    }
}

#div11{
    background: foo(20);
}

$column: 12;
@for $i from 1 through 12{
    .col-lg-#{$i}{
        width: percentage($i/100);
    }
}

$icons: success fail error ok remove;

@each $icon in $icons{
    .icon-#{$icon}{
        background-image: url($icon + '.jpg');
    }
}

$i: 5;
@while $i > 0 {
    .col-md-#{$i}{
        width: percentage($i / 100);
    }
    $i: $i - 1;
}

$m: (light: #fff, dark: #000);
@function get-color($key){
    @if not(map-has-key($m, $key)){
        @error '你传入的key不存在';
        @return #ccc;
    }@else{
        @return map-get($m, $key);
    }
}

#div13{
    color: get-color(light);
}



