<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(school, index) in schools">{{school}} -- {{index+1}}</li>
        </ul>

        <ul>
            <li v-for="(val, key, index) in obj">
                <h3>{{val}}</h3>
                <h3>{{key}}</h3>
                <h3>{{index}}</h3>
            </li>
        </ul>

        <ul>
            <li v-for="obj in arrSort">
                {{obj.name}} -- {{obj.age}} -- {{obj.company}}
                <!-- <div v-for="(val, key) in obj">{{val}} -- {{key}}</div> -->
            </li>
        </ul>
    </div>

    <script src="vue.js"></script>

    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                schools: ['金融', '农大', '黑大', '林大'],
                obj: {
                    name: 'zs',
                    age: '18',
                    company: 'baidu'
                },
                arr: [{
                    name: 'zs',
                    age: 28,
                    company: 'baidu'
                }, {
                    name: 'lisi',
                    age: 20,
                    company: 'ali'
                }, {
                    name: 'ww',
                    age: 30,
                    company: 'tencent'
                }]
            },
            computed: {
                arrSort() {
                    return this.arr.sort(function (a, b) {
                        return a.age - b.age;
                    });
                }
            }
        });
    </script>
</body>

</html>